/*
    Starry Night DEMO
    chriscoyier@gmail.com
    http://chriscoyier.net

		background-color:black;
		background-image:
		radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
		background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
*/

body {
	font: 10px/2 "Lucida Grande", Helvetica, Sans-Serif;
	color: #eee;
}

@-webkit-keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: -10000px;
		top: -2000px;
	}
}

#background {
	background: black url(../images/background.png) repeat 5% 5%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 0;
	opacity: .2;
}

#midground {
	background: url(../images/midground.png) repeat 20% 20%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 0;
	opacity: .4;
}

#foreground {
	background: url(../images/foreground.png) repeat 35% 35%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 0;
}
